h3
{
    font-size: 30px !important;
}
.btn-success:hover
{
    background-color: #f2880f;

}
canvas{
    animation-name:example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from {box-shadow: 1px 1px 38px black;}
    to {box-shadow: 1px 1px 38px yellow;}
}